.places {
  padding: 92px 0 92px;
  max-width: calc(0.21875 * 100vw + 704px);  /*значение от 984 до 928 для 1280 и 1024 соответственно*/
  margin: 0 auto;

}

@media screen and (max-width: 1023px) {
  .places {
    padding: 88px calc(0.09375 * 100vw - 48px) 90px;  /*значение от 48 до 24 для 1024 и 768 соответственно*/
    max-width: 984px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px calc(0.0535714 * 100vw - 17.1429px) 66px;  /*значение от 24 до 0 для 768 и 320 соответственно*/
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 66px;
  }
}
