.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px calc(0.03125 * 100vw + 16px);  /* значение calc от 56 до 48 для 1280 и 1024 соответственно*/
  max-width: 1184px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px calc(0.09375 * 100vw - 48px) 48px;   /* значение calc от 48 до 24 для 1024 и 768 соответственно*/
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: calc(0.0267857 * 100vw + 7.42857px) calc(0.0178571 * 100vw + 10.2857px) 48px;   /* 1 значение calc от 28 до 16 для 768 и 320 соответственно // 2 значение calc от 24 до 16 для 768 и 320 соответственно*/
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 42px;
  }
}
