.intro {
  max-width: calc(0.21875 * 100vw + 704px);  /*значение от 984 до 928 для 1280 и 1024 соответственно*/
  padding: 92px 0;
}

@media screen and (min-width: 1281px) {
  .intro {
    max-width: 984px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px calc(0.09375 * 100vw - 48px);  /*значение от 48 до 24 для 1024 и 768 соответственно*/
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px calc(0.0178571 * 100vw + 10.2857px);  /*значение от 24 до 16 для 768 и 320 соответственно*/
  }
}
