.cover {
  background-image: url('../../images/cover__background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1184px;
  height: 740px;
  position: relative;
}

@media screen and (max-width: 1184px) {
  .cover {
    width: 100%;
    height: calc(0.625 * 100vw);
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    height: 200px;
  }
}
