.footer__links-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 712px) {
  .footer__links-list {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 550px) {
  .footer__links-list {
    flex-direction: column;
  }
}
