.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin: 0;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: calc(0.0491071 * 100vw + 16.2857px);  /*значение от 54 до 32 для 768 и 320 соответственно*/
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
  }
}
